
<header id="header" class="all-pages">
    <div class="header__logo">
        <a href="{{ path('index') }}"><img src="{{ asset('asset/image/craftlinkblue.png') }}" alt="Logo CraftLink"></a>
    </div>
        <nav>
            <ul class="nav__list">
                <li><a href="{{ path('artisan-list-articles') }}">Articles </a></li>
                <li><a>Messages</a></li>
                <li><a href="{{ path('artisan-create_article') }}">Créer un article</a></li>
            </ul>
        </nav>

    <div class="header__auth">
        {% if app.user %}
            <h3>Bienvenue, {{ app.user.firstName }} {{ app.user.lastName }}</h3>
            <div>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a class="auth__user" href="{{ path('admin-homeboard') }}">Mon profil</a>
                {% elseif 'ROLE_CLIENT' in app.user.roles %}
                    <a class="auth__user" href="{{ path('client-homeboard') }}" id="Account">Profil</a>
                {% elseif 'ROLE_ARTISAN' in app.user.roles %}
                    <a class="auth__user" href="{{ path('artisan-homeboard') }}">Mon profil</a>
                {% endif %}

                <a class="auth__user" href="{{ path('logout') }}">Déconnexion</a>
            </div>
        {% else %}

            <div class="inscription">
                <h3>S'inscrire</h3>
                <a href="{{ path('register_client') }}">Particulier</a>
                <a href="{{ path('register_artisan') }}">Entreprise</a>
            </div>

            <div class="connexion">
                <h3>Se connecter</h3>
                <a href="{{ path('login') }}">Se connecter</a>
            </div>
        {% endif %}
    </div>
</header>
