{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block main %}

            <form method="get" action="{{ path('admin-user') }}">
                <h1>Utilisateurs du site</h1>
                <label for="sort">Trier par :</label>
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="name" {% if sort == 'name' %}selected{% endif %}>Nom</option>
                    <option value="createdAt" {% if sort == 'createdAt' %}selected{% endif %}>Date de création</option>
                </select>
                <input type="hidden" name="order" value="{{ order }}">
                {% if users is empty %}
                    <p>Aucun utilisateur trouvé.</p>
                {% else %}
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            <th>Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.getRoleLabel() }}</td>
                                <td>{{ user.createdAt|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </form>


        </section>
    </main>

{% endblock %}
