{% if currentRoute starts with 'admin-' %}
<header id="header" class="all-pages">
    <div class="header__logo">
        <a href="{{ path('index') }}"><img src="{{ asset('asset/image/craftlinkblue.png') }}" alt="Logo CraftLink"></a>
    </div>

    {% else %}
        <div class="header__logo">
            <a href="{{ path('index') }}"><img src="{{ asset('asset/image/craftlinkblue.png') }}" alt="Logo CraftLink"></a>
        </div>
    {% endif %}

    {% if currentRoute starts with 'admin-' %}
        <nav>
            <ul class="nav__list">
                <li><a href="{{ path('admin-create_article') }}">Création Article</a></li>
                <li><a href="{{ path ('admin-user') }}" >Utilisateurs</a></li>
                <li><a href="{{ path ('admin-list-articles') }}">Articles</a></li>
            </ul>
        </nav>
    {% endif %}


    <div class="header__auth">
        {% if app.user %}
            <h3>Bienvenue, {{ app.user.firstName }}</h3>
            <div>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a class="auth__user" href="{{ path('admin-homeboard') }}">Mon profil</a>
                {% elseif 'ROLE_CLIENT' in app.user.roles %}
                    <a class="auth__user" href="{{ path('client-homeboard') }}" id="Account">Profil</a>
                {% elseif 'ROLE_ARTISAN' in app.user.roles %}
                    <a class="auth__user" href="{{ path('artisan-homeboard') }}">Profil</a>
                {% endif %}

                <a class="auth__user" href="{{ path('logout') }}">Déconnexion</a>
            </div>
        {% else %}

            <div class="inscription">
                <h3>S'inscrire</h3>
                <a href="{{ path('register_client') }}">Particulier</a>
                <a href="{{ path('register_artisan') }}">Entreprise</a>
            </div>

            <div class="connexion">
                <h3>Se connecter</h3>
                <a href="{{ path('login') }}">Se connecter</a>
            </div>
        {% endif %}
    </div>
</header>
