{% extends 'base.html.twig' %}
{% block main %}

<main>
    <!-- Affichage des messages flash -->
    {% for message in app.flashes('danger') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}


    <article id="find-artisan">
        <div class="article__media">
            <img src="{{ asset('asset/image/craftlinkblue.png') }}" alt="Présentation de CraftLink">
        </div>
        <div class="article__content">
            <h2>"La Construction commence par la Connexion"</h2>
        </div>
        <div>
            <form action="{{ path('search_artisan') }}" method="GET">
                <label for="speciality">Spécialité :</label>
                <input type="text" id="speciality" name="speciality" placeholder="Ex. Plombier, Électricien..." required>

                <label for="postal_code">Code Postal :</label>
                <input type="text" id="postal_code" name="postal_code" placeholder="Ex. 75001" required>

                <div class="w100 flex-end mt-2">
                    <button type="submit">Rechercher</button>
                </div>
            </form>
        </div>
    </article>

    <section id="sectionArticle1Home">
        <h2 class="article__title">Qui sommes nous ?</h2>
            <article id="articleOneHome">
                <div class="article__media">
                 <img src="{{ asset('asset/image/craftlinkHomeArticle1.jpg') }}" alt="Présentation de CraftLink">
                 </div>
                <div class="article__content">
                     <p class="article__text">Chez <span>CraftLink</span> Nous croyons que la confiance est la clé d'une collaboration réussie entre clients et artisans. Notre plateforme de mise en relation a été conçue pour garantir un environnement sécurisé, où seuls des artisans rigoureusement sélectionnés et reconnus pour leur sérieux interviennent. Que vous ayez un besoin urgent ou que vous planifiiez un projet sur le long terme, nous vous assurons un accompagnement fiable et transparent pour éviter tout risque d'arnaque. Avec CraftLink, transformez vos idées en réalisations concrètes en toute sérénité.
                </div>
            </article>
    </section>
    <section id="sectionArticle2Home">
         <h2 class="article__title">Nos Innovations</h2>
            <article id="articleOneHome">
                <div class="article__content">
                    <p class="article__text">Nous allons bien au-delà de la simple mise en relation avec des artisans. Notre ambition est de vous armer face aux imprévus : qu'il s'agisse d'un cambriolage, d'une fuite d'eau ou de tout autre incident urgent, nous vous fournissons des conseils pratiques et des démarches adaptées pour réagir efficacement. Grâce à notre plateforme, vous bénéficiez d'une source d'information fiable et d'outils pour guider vos actions en situation critique. Parallèlement, nous favorisons un bouche-à-oreille authentique et moderne en vous offrant la possibilité de créer et de partager votre réseau personnel d'artisans de confiance avec vos proches. Nos innovations visent ainsi à transformer chaque urgence en une opportunité d'apprendre, de s'entraider et de renforcer la sécurité de chacun.</p>
                </div>
                <div class="article__media">
                    <img src="{{ asset('asset/image/craftlinkHomeArticle2.jpg') }}" alt="Présentation de CraftLink">
                </div>
            </article>
    </section>
    <section id="sectionArticle3Home">
    <h2 class="article__title">Nos Objectifs </h2>
    <article id="articleOneHome">
        <div class="article__media">
            <img src="{{ asset('asset/image/CraftlinkHomeArticle3.jpg') }}" alt="Présentation de CraftLink">
        </div>
        <div class="article__content">
            <p class="article__text">L'objectif de CraftLink est de réconcilier les particuliers avec les artisans du bâtiment en créant un véritable pont entre ces deux univers. Nous ambitionnons de développer une application de gestion complète, spécialement conçue pour les artisans, afin de leur faire gagner du temps et d'optimiser leur quotidien. Parallèlement, notre plateforme facilite la recherche pour les particuliers en leur offrant un accès rapide à des professionnels rigoureusement sélectionnés. En connectant l'ensemble de la communauté, nous créons un écosystème où chaque utilisateur trouve exactement ce dont il a besoin pour mener à bien ses projets, en toute confiance et transparence.</p>
        </div>
    </article>
    </section>
</main>
{% endblock main %}