{% extends "artisan/base.html.twig" %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Articles publiés</h1>

    {# Affichage des messages flash uniquement pour "update" et "delete" #}
    {% if app.request.query.get('action') == 'update' %}
        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if articles is empty %}
        <p>Aucun article disponible pour le moment.</p>
    {% else %}
        <div>
            {% for article in articles %}
                <div>
                    <h2><a href="{{ path('artisan-list-articles', { id: article.id }) }}">{{ article.title }}</a></h2>
                    <p>{{ article.content|slice(0, 150) }}...</p>
                    <p>Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.author.firstName }}</p>

                    {% if article.updatedAt is not null %}
                        <p>Mis à jour le {{ article.updatedAt|date('d/m/Y') }}</p>
                    {% endif %}

                    <a href="{{ path('artisan-update_article', { id: article.id, action: 'update' }) }}">Modifier</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}