{% extends 'admin/base.html.twig' %}




{% block body %}

    <main class="homeboard">
        <section class="sidebar">
            <ul>
                <li><a href={{ path('admin-user') }}>Liste Utilisateurs</a></li>
                <li><a>Tableau de bord artisan</a></li>
                <li><a>Administration</a></li>
                <li><a>Inscription client</a></li>
                <li><a>Inscription artisan</a></li>
            </ul>
        </section>
        <section class="homeboardInfo">

            <h1>Articles publiés</h1>

            {# Affichage des messages flash uniquement pour "update" et "delete" #}
            {% if app.request.query.get('action') == 'update' %}
                {% for message in app.flashes('success') %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if app.request.query.get('action') == 'delete' %}
                {% for message in app.flashes('error') %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if articles is empty %}
                <p>Aucun article disponible pour le moment.</p>
            {% else %}
                <div>
                    {% for article in articles %}
                        <div>
                            <h2><a href="{{ path('admin-list-articles', { id: article.id }) }}">{{ article.title }}</a></h2>
                            <p>{{ article.content|slice(0, 150) }}...</p>
                            <p>Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.author.firstName }}</p>

                            {% if article.updatedAt is not null %}
                                <p>Mis à jour le {{ article.updatedAt|date('d/m/Y') }}</p>
                            {% endif %}

                            <a href="{{ path('admin-delete_article', { id: article.id, action: 'delete' }) }}">Supprimer</a>
                            <a href="{{ path('admin-update_article', { id: article.id, action: 'update' }) }}">Modifier</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>

{% endblock %}
